@charset"utf-8";

VBox{}

.blue{
    -fx-background-color: blue;
}

.onlineTab{
    -fx-background-color: #404040;
}

.icon{
    -icon-paint: red;
    -fx-background-color: white;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.icon:hover {
    -fx-background-color: linear-gradient(to bottom, blue, black);
}

.iconSVG{
    -fx-fill: black;
}

.icon:hover .iconSVG{
    -fx-fill: linear-gradient(to bottom, red, white);
}

